:root {
    --info-bar-frame-header-height: 235px;
    --info-bar-frame-footer-height: 50px;
}

.InfoBarFrame {
    width: 290px;
    height: 90vh;
    background-color: var(--navigation-info-bar-backgroud);
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, .2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}

.InfoBarFrame .InfoBarFrameHeader {
    width: 100%;
    height: var(--info-bar-frame-header-height);
    padding: 30px;
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 -2px 7px 0 rgb(0, 0, 0, 0.5);
    z-index: 1;
}

.InfoBarFrame .InfoBarFrameHeader figure {
    width: 100px;
    height: 100px;
    margin: auto auto 15px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.InfoBarFrame .InfoBarFrameHeader figure img {
    height: 100%;
}

.InfoBarFrame .InfoBarFrameHeader h2,
.InfoBarFrame .InfoBarFrameHeader p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.InfoBarFrame .InfoBarFrameHeader h2 {
    font-family: 'Outfit', sans-serif;
    font-size: 1.3rem;
    color: var(--navigation-info-bar-name-color);
}

.InfoBarFrame .InfoBarFrameHeader p {
    font-size: 0.8rem;
    color: var(--navigation-info-bar-position-color);
}

.InfoBarFrame .InfoBarFrameDetails {
    width: 100%;
    height: calc(90vh - var(--info-bar-frame-header-height) - var(--info-bar-frame-footer-height));
    background-color: var(--navigation-info-bar-details-bg);
    overflow: scroll;
    font-family: 'Ubuntu', sans-serif;
}

.InfoBarFrame .InfoBarFrameDetails .skills {
    padding: 10px;
}

.InfoBarFrame .InfoBarFrameDetails .skills:not(:last-child)::after{
    content: '';
    display: block;
    width: 80%;
    border-bottom: 1px solid var(--light-gray);
    margin: 35px auto auto;
}

.InfoBarFrame .InfoBarFrameDetails .skills h3 {
    font-size: 1.5em;
    margin: 10px;
    color: var(--navigation-info-bar-details-title-color);
}

.InfoBarFrame .InfoBarFrameDetails .skills li {
    list-style: none;
    padding: 15px 10px;
    display: flex;
    flex-wrap: wrap;
}

.InfoBarFrame .InfoBarFrameDetails .skills span {
    font-weight: 700;
    font-size: 1.05rem;
    padding: 5px;
}

.InfoBarFrame .InfoBarFrameDetails .skills p {
    margin-left: 15px;
    font-size: 0.95rem;
}

.InfoBarFrame .InfoBarFrameFooter {
    width: 100%;
    height: var(--info-bar-frame-footer-height);
    box-shadow: 0 2px 7px 0 rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.InfoBarFrame .InfoBarFrameFooter a {
    padding: 5px;
}

.InfoBarFrame .InfoBarFrameFooter a svg {
    width: 25px;
    height: 25px;
}

.InfoBarFrame .InfoBarFrameFooter a svg path {
    width: 100%;
}

.InfoBarFrame .InfoBarFrameFooter a .LinkedIn {
    color: var(--linked-in-brand-color);
}

.InfoBarFrame .InfoBarFrameFooter a .GitHub {
    color: var(--git-hub-brand-color);
}