.InfoBarFrame {
    width: 290px;
    height: 235px;
    background-color: green;
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
}

.InfoBarFrame figure {
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.InfoBarFrame figure img {
    height: 100%;
}

.InfoBarFrame h2,
.InfoBarFrame p {
    text-align: center;
}