.educationContainer {
    width: var(--cointainer-width);
    margin: 50px auto;
}

.educationContainer .educationBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px 0;
}

.educationBox section {
    background-color: white;
    padding: 30px;
    display: grid;
}

.educationBox section h3 {
    font-size: 1.2rem;
}

.educationBox section small {
    font-size: 0.7rem;
    margin-bottom: 10px;
}

.educationBox section p {
    font-size: 0.9rem;
}

.educationBox section div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    color: #f26157;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
}

.educationBox section div svg {
    transition: transform 0.5s ease-in-out;
}

.educationBox section div:hover svg {
    transform: translateX(10px);
}