.MainContainer {
    width: 90vw;
    height: 90vh;
    display: grid;
    grid-template-columns: 290px auto 80px;
    grid-template-areas: "nav-bar cont-wrapper navigation";
    overflow: hidden;
}

.mainContent {
    width: 100%;
    height: calc(100% - 20px);
    position: relative;
    background-color: var(--main-content-wrapper-bg);
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, .2);
    padding: 10px 0;
    overflow-y: scroll;
}