@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

:root {
    --main-color: #f46258;
    --white: #ffffff;
    --gray: #7a7a7a;
    --light-gray: #d2d2d5;

    --body-bg: #dedee4;

    --navigation-info-bar-backgroud: var(--white);
    --navigation-info-bar-details-bg: #f4f4f6;
    --navigation-info-bar-details-title-color: var(--main-color);
    --navigation-info-bar-name-color: #1e1e28;
    --navigation-info-bar-position-color: #7a7a7a;

    --navigation-menu-bg: #f4f4f6;
    --navigation-menu-text: #171515;
    --navigation-menu-text-hover: var(--main-color);
    --navigation-menu-active-bg: var(--main-color);
    --navigation-menu-active-color-text: var(--white);

    --main-content-wrapper-bg: #eeeef4;

    --contact-box-bg: var(--white);
    --contact-box-a-tag-color: var(--main-color);
    --contact-form-bg: var(--white);
    --contact-form-label-bg: #f4f4f6;
    --contact-form-focused-icon-bg: var(--main-color);
    --contact-form-button-bg: var(--main-color);

    --footer-bg: var(--white);

    --linked-in-brand-color: #0e76a8;
    --git-hub-brand-color: #171515;

    --cointainer-width: 95%;
}

body {
    background-color: var(--body-bg);
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}