@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

:root {
    --body-bg: #dedee4;

    --navigation-info-bar-backgroud: #ffffff;
    --navigation-info-bar-details-bg: #f4f4f6;
    --navigation-info-bar-details-title-color: #f26157;
    --navigation-info-bar-name-color: #1e1e28;
    --navigation-info-bar-position-color: #7a7a7a;

    --linked-in-brand-color: #0e76a8;
    --git-hub-brand-color: #171515;

    --gray: #7a7a7a;
    --light-gray: #d2d2d5;
}

body {
    background-color: var(--body-bg);
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}