:root {
    --navigation-info-bar-backgroud: #ffffff;
    --navigation-info-bar-details-bg: #f4f4f6;
    --navigation-info-bar-name-color: #1e1e28;
    --navigation-info-bar-position-color: #7a7a7a;
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}