.navMenu {
    width: 80px;
    height: 100%;
    overflow: hidden;
    background-color: var(--navigation-menu-bg);
    grid-area: navigation;
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, .2);
}

.navMenu ul {
    rotate: 90deg;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: -14px;
}

.navMenu ul a {
    text-decoration: none;
    color: var(--navigation-menu-text);
}

.navMenu ul a li {
    list-style: none;
    padding: 29px;
    box-sizing: border-box;
    font-size: 1rem;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.navMenu ul a:hover li {
    color: var(--navigation-menu-text-hover);
}

.navMenu ul a li.active {
    background-color: var(--navigation-menu-active-bg);
    font-weight: bolder;
}

.navMenu ul a li.active {
    color: var(--navigation-menu-active-color-text);
}
