.footerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContent {
    background-color: var(--footer-bg);
    width: 95%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
