.blogContainer,
.postContainer {
    width: var(--cointainer-width);
    margin: 30px auto;
}

.postContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: start;
}

.postContent {
    background-color: white;
}

.postContent figure {
    --post-figure-width: 100%;

    width: var(--post-figure-width);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postContent figure img {
    max-width: 100%;
    min-height: 100%;
}

.postContent .dateAndStacks {
    padding: 5px 15px;
    color: var(--blog-post-date-and-stacks-color);
    background-color: var(--blog-post-date-and-stacks-bg);
    display: flex;
    flex-wrap: wrap;
    box-shadow: inset 0 3px 8px 0 rgba(15, 15, 20, .2);
}

.postContent span {
    width: 100%;
    display: flex;
    align-items: center;
}

.postContent span > svg {
    min-width: 20px;
    display: flex;
    justify-content: center;
    padding: 0 5px;
}

.postContent .postDate,
.postContent .postStacks {
    color: var(--main-color);
}

.postContent .postDetails {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.postContent .postDetails h3,
.postContent .postDetails p {
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    text-overflow: ellipsis;
}

.postContent .postDetails h3 {
    line-clamp: 2;
    -webkit-line-clamp: 2;
}

.postContent .postDetails p {
    height: 6em;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    white-space: pre-line;
}


.postContent .postDetails a {
    text-decoration: none;
    margin: auto;
    padding: 10px 20px;
    background-color: var(--main-color);
    color: var(--blog-post-a-tag-color);
}
