.banner {
    width: 95%;
    height: 350px;
    margin: 10px auto 10px auto;
    padding: 40px;
    background-image: url("../../../public/home_bg.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #080c14;
}

.banner h2 {
    max-width: 550px;
    color: white;
}
